.background {
    position: relative;
    overflow: visible;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/backgrounds/background_first_section.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scaleY(-1);
    transform-origin: center;
    z-index: 0;
}

.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 96px;
    color: white;
}

.nav-links {
    font-family: 'Fira Code', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.24px;
    list-style: none;
    display: flex;
    gap: 24px;

    li {
        position: relative;

        a {
            text-decoration: none;
            color: white;
            transition: color 0.3s;
            cursor: pointer;

            &:hover {
                color: rgba(61, 207, 182, 1);
            }
        }

        &:hover::after,
        &.active::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -5px;
            transform: translateX(-50%);
            width: 6px;
            height: 6px;
            background-color: rgba(61, 207, 182, 1);
            border-radius: 50%;
        }
    }
}

.navbar-left-content {
    display: flex;
    align-items: center;
    padding-left: 96px;
}

.language-switch {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(61, 207, 182, 1);
    border-radius: 30px;

    .lang-button {
        width: 44px;
        height: 28px;
        background: transparent;
        border: none;
        color: #00ffab;
        border-radius: 30px;
        padding: 5px 10px;
        cursor: pointer;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        transition: all 0.3s;

        &.active {
            background: rgba(61, 207, 182, 1);
            color: white;
            transform: scale(1.05);
        }

        &:hover:not(.active) {
            transform: scale(1.1);
            border-color: white;
        }
    }

    .lang-text {
        display: block;
    }
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;

    .line {
        width: 100%;
        height: 2px;
        background-color: white;
    }
}

.burger-dropdown {
    position: absolute;
    top: 80px;
    right: 16px;
    background-image: url('../../assets/img/backgrounds/background_first_section.svg');
    background-size: cover;
    padding: 16px;
    border: 1px solid rgba(61, 207, 182, 1);
    border-radius: 8px;
    z-index: 9999;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 12px;

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    color: rgba(61, 207, 182, 1);
                }
            }
        }
    }

    .language-switch {
        margin-top: 12px;
    }
}

.overlay {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .navbar-left-content {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .logo {
        padding-right: 0;
        margin-left: 15px;
    }
}