<footer class="main-container" id="footer">
    <div class="footer-section">
        <div class="font-karla">
            <h2 class="logo logo-footer" (click)="scrollToNavbar()">Philipp<br>Schönborn</h2>
            <div class="info">
                <span>Web Developer</span><br>
                <span>Nagold, <br>Germany</span>
            </div>
        </div>
        <div class="copyright font-fira visible-copyright">
            <span>&#169; Philipp Schönborn 2025</span>
        </div>
        <div class="social-links font-karla">
            <div class="scroll-arrow-container" (click)="scrollToNavbar()">
                <div class="scroll-arrow"></div>
            </div>
            <a href="https://github.com/PhilippSchoenborn" target="_blank" rel="noopener">
                <button type="button">GitHub</button>
            </a>
            <a href="https://www.linkedin.com/in/philipp-sch%C3%B6nborn-301511152/" target="_blank" rel="noopener">
                <button type="button">LinkedIn</button>
            </a>
            <a routerLink="/legal-notice" routerLinkActive="active" class="legal-notice-link font-karla">
                Legal Notice
          </a>
        </div>
    </div>
    <div class="copyright font-fira hidden-copyright">
        <span>&#169; Philipp Schönborn 2025</span>
    </div>
</footer>