<section id="hero" class="hero">
  <div class="hero-content">
    <p class="job">{{ translations[selectedLanguage].HERO_TITLE }}</p>
    <p class="name">Philipp Schönborn</p>
    <div class="buttons">
      <a href="#projects" class="btn-primary">
        <span>{{ translations[selectedLanguage].HERO_BTN1 }}</span>
      </a>
      <a href="#contact" class="btn-secondary">
        <span>{{ translations[selectedLanguage].HERO_BTN2 }}</span>
      </a>
    </div>
  </div>

  <div class="bottom-section-hero-component">
    <div class="scroll-icon">
      <div class="scroll-arrow-container">
        <div class="scroll-arrow"></div>
      </div>
      <div class="left-vector"></div>
    </div>
    <div class="social-links">
      <div class="rotated-mail">
        <a href="#contact">philipp&#64;schoenborn-home.de</a>
        <div class="icon-wrapper">
          <a href="#contact" class="mail-button">
            <img src="../../assets/img/icons/mail_icon_default.svg" alt="Email Icon" class="social-icon mail" />
          </a>
        </div>
      </div>
      <a href="https://github.com/PhilippSchoenborn" target="_blank" class="social-icon github">
        <img src="../../assets/img/icons/github_icon_default.svg" alt="GitHub Icon" />
      </a>
      <a href="https://www.linkedin.com/in/philipp-sch%C3%B6nborn-301511152/" target="_blank" class="social-icon linkedin">
        <img src="../../assets/img/icons/linkedin_icon_default.svg" alt="LinkedIn Icon" />
      </a>
      <div class="right-vector"></div>
    </div>
  </div>

  <div class="hero-marquee">
    <div class="marquee-track">
      <div class="marquee-content">
        <p>•</p>
        <p>{{ translations[selectedLanguage].MARQUEE1 }}</p>
        <p>•</p>
        <p>{{ translations[selectedLanguage].MARQUEE2 }}</p>
        <p>•</p>
        <p>{{ translations[selectedLanguage].MARQUEE3 }}</p>
        <p>•</p>
        <p>{{ translations[selectedLanguage].MARQUEE4 }}</p>
        <p>•</p>
      </div>
      <div class="marquee-content">
        <p>{{ translations[selectedLanguage].MARQUEE1 }}</p>
        <p>•</p>
        <p>{{ translations[selectedLanguage].MARQUEE2 }}</p>
        <p>•</p>
        <p>{{ translations[selectedLanguage].MARQUEE3 }}</p>
        <p>•</p>
        <p>{{ translations[selectedLanguage].MARQUEE4 }}</p>
        <p>•</p>
      </div>
    </div>
  </div>
</section>