<div class="data-protection">

    <!-- Heading 1 + Block 1 -->
    <h1 [innerHTML]="translations[selectedLanguage].heading1"></h1>
    <div [innerHTML]="translations[selectedLanguage].block1"></div>
  
    <!-- Heading 2 + Block 2 -->
    <h2 [innerHTML]="translations[selectedLanguage].heading2"></h2>
    <div [innerHTML]="translations[selectedLanguage].block2"></div>
  
    <!-- Heading 3 + Block 3 -->
    <h2 [innerHTML]="translations[selectedLanguage].heading3"></h2>
    <div [innerHTML]="translations[selectedLanguage].block3"></div>
  
    <!-- Heading 4 + Block 4 -->
    <h2 [innerHTML]="translations[selectedLanguage].heading4"></h2>
    <div [innerHTML]="translations[selectedLanguage].block4"></div>
  
    <!-- Heading 5 + Block 5 -->
    <h2 [innerHTML]="translations[selectedLanguage].heading5"></h2>
    <div [innerHTML]="translations[selectedLanguage].block5"></div>
  
    <!-- Heading 6 + Block 6 -->
    <h2 [innerHTML]="translations[selectedLanguage].heading6"></h2>
    <div [innerHTML]="translations[selectedLanguage].block6"></div>
  
    <!-- Heading 7 + Block 7 -->
    <h2 [innerHTML]="translations[selectedLanguage].heading7"></h2>
    <div [innerHTML]="translations[selectedLanguage].block7"></div>
  
    <!-- Heading 8 + Block 8 -->
    <h2 [innerHTML]="translations[selectedLanguage].heading8"></h2>
    <div [innerHTML]="translations[selectedLanguage].block8"></div>
  
    <!-- Example for additional sections (if you add them to translations) -->
    <hr />
    <h2 [innerHTML]="translations[selectedLanguage].heading9"></h2>
    <h3 [innerHTML]="translations[selectedLanguage].subheading9_1"></h3>
    <div [innerHTML]="translations[selectedLanguage].block9_1"></div>
    <h3 [innerHTML]="translations[selectedLanguage].subheading9_2"></h3>
    <div [innerHTML]="translations[selectedLanguage].block9_2"></div>
    
    <hr />
    <h2 [innerHTML]="translations[selectedLanguage].heading10"></h2>
    <div [innerHTML]="translations[selectedLanguage].block10"></div>
  
    <h2 [innerHTML]="translations[selectedLanguage].heading11"></h2>
    <div [innerHTML]="translations[selectedLanguage].block11"></div>
  
  </div>
  