<section id="contact" class="contact">
  <div class="left-contact-form">
    <h3 class="color font-karla">{{ translations[selectedLanguage].TITLE }}</h3>
    <h1 class="color font-fira">{{ translations[selectedLanguage].HEADLINE }}</h1>
    <h2 class="color font-fira">{{ translations[selectedLanguage].SUBLINE }}</h2>
    <span class="font-karla">{{ translations[selectedLanguage].SUBTEXT1 }}</span>
    <span>
      {{ translations[selectedLanguage].SUBTEXT2 }}
      <span class="color">{{ translations[selectedLanguage].HEADLINE }}</span>
    </span>
  </div>

  <!-- pop-up send mail successfully -->
  <div class="success-popup" *ngIf="showSuccessPopup">
    {{ translations[selectedLanguage].MAIL_SUCCESS }}
  </div>

  <!-- Contact Form -->
  <form class="form-container" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <!-- NAME FIELD -->
    <div class="single-input-frame">
      <label for="name" class="font-fira">
        {{ translations[selectedLanguage].FORM_NAME }}
        <small class="error-text" *ngIf="name.invalid && name.dirty && name.value">
          {{ translations[selectedLanguage].FORM_NAME_ERROR }}
        </small>
      </label>
      <input #name="ngModel" class="font-karla" type="text" id="name" name="name" [(ngModel)]="contactData.name"
        placeholder="{{ translations[selectedLanguage].FORM_NAME_PLACEHOLDER }}" minlength="2" required />
    </div>

    <!-- EMAIL FIELD -->
    <div class="single-input-frame">
      <label for="email" class="font-fira">
        {{ translations[selectedLanguage].FORM_MAIL }}
        <small class="error-text" *ngIf="email.invalid && email.dirty && email.value">
          {{ translations[selectedLanguage].FORM_EMAIL_ERROR }}
        </small>
      </label>
      <input #email="ngModel" class="font-karla" type="email" id="email" name="email" [(ngModel)]="contactData.email"
        placeholder="{{ translations[selectedLanguage].FORM_EMAIL_PLACEHOLDER }}" required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />
    </div>

    <!-- MESSAGE FIELD -->
    <div class="single-input-frame">
      <label for="message" class="font-fira">
        {{ translations[selectedLanguage].FORM_QUESTION }}
        <small class="error-text" *ngIf="message.invalid && message.dirty && message.value">
          {{ translations[selectedLanguage].FORM_MESSAGE_ERROR }}
        </small>
      </label>
      <textarea #message="ngModel" class="font-karla" style="resize: none" id="message" name="message"
        [(ngModel)]="contactData.message" placeholder="{{ translations[selectedLanguage].FORM_QUESTION_PLACEHOLDER }}"
        minlength="15" required></textarea>
    </div>

    <!-- CHECKBOX AREA (PRIVACY) -->
    <div class="checkbox-area" [class.checkbox-checked]="contactForm.form.valid && acceptTerms">
      <div class="privacy-content">
        <div class="checkbox-container">
          <input type="checkbox" id="privacy" name="privacy" required #privacy="ngModel" [(ngModel)]="acceptTerms" />
          <label class="font-karla" for="privacy">
            {{ translations[selectedLanguage].PRIVACY_POLICY_1 }}
            <a class="color" href="#" (click)="openDataProtection($event)">
              {{ translations[selectedLanguage].PRIVACY_POLICY_COLOR }}
            </a>
            {{ translations[selectedLanguage].PRIVACY_POLICY_2 }}
          </label>
        </div>

        <!-- Privacy Error -->
        <div class="error-message" *ngIf="privacy.invalid && privacy.dirty">
          <small class="error-text">
            {{ translations[selectedLanguage].PRIVACY_ERROR }}
          </small>
        </div>
      </div>

      <!-- SUBMIT BUTTON -->
      <div class="btn-area">
        <button type="submit" class="btn-primary" [class.btn-disabled]="!contactForm.form.valid || !acceptTerms"
          [disabled]="!contactForm.form.valid || !acceptTerms">
          <span>{{ translations[selectedLanguage].SUBMIT_BUTTON }}</span>
        </button>
      </div>
    </div>
  </form>
</section>