<section id="contact" class="contact">
  <div class="left-contact-form">
    <h3 class="color font-karla">{{ translations[selectedLanguage].TITLE }}</h3>
    <h1 class="color font-fira">{{ translations[selectedLanguage].HEADLINE }}</h1>
    <h2 class="color font-fira">{{ translations[selectedLanguage].SUBLINE }}</h2>
    <span class="font-karla">{{ translations[selectedLanguage].SUBTEXT1 }}</span>
    <span>
      {{ translations[selectedLanguage].SUBTEXT2 }}
      <span class="color">{{ translations[selectedLanguage].HEADLINE }}</span>
    </span>
  </div>

  <!-- pop-up send mail successfully -->
  <div class="success-popup" *ngIf="showSuccessPopup">
    {{ translations[selectedLanguage].MAIL_SUCCESS }}
  </div>

  <!-- Contact Form -->
  <form class="form-container" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <!-- NAME FIELD -->
    <div class="single-input-frame">
      <label for="name" class="font-fira">
        {{ translations[selectedLanguage].FORM_NAME }}
      </label>
      <input #name="ngModel" class="font-karla" type="text" id="name" name="name"
        [placeholder]="name.invalid && name.touched ? translations[selectedLanguage].FORM_NAME_ERROR : translations[selectedLanguage].FORM_NAME_PLACEHOLDER"
        [(ngModel)]="contactData.name" [ngStyle]="{ 'color': name.invalid && name.touched ? '#ff4b4b' : '' }"
        minlength="2" required />
    </div>

    <!-- EMAIL FIELD -->
    <div class="single-input-frame">
      <label for="email" class="font-fira">
        {{ translations[selectedLanguage].FORM_MAIL }}
      </label>
      <input #email="ngModel" class="font-karla" type="email" id="email" name="email"
        [placeholder]="email.invalid && email.touched ? translations[selectedLanguage].FORM_EMAIL_ERROR : translations[selectedLanguage].FORM_EMAIL_PLACEHOLDER"
        [(ngModel)]="contactData.email" [ngStyle]="{ 'color': email.invalid && email.touched ? '#ff4b4b' : '' }"
        required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />
    </div>

    <!-- MESSAGE FIELD -->
    <div class="single-input-frame">
      <label for="message" class="font-fira">
        {{ translations[selectedLanguage].FORM_QUESTION }}
      </label>
      <textarea #message="ngModel" class="font-karla" style="resize: none" id="message" name="message"
        [placeholder]="message.invalid && message.touched ? translations[selectedLanguage].FORM_MESSAGE_ERROR : translations[selectedLanguage].FORM_QUESTION_PLACEHOLDER"
        [(ngModel)]="contactData.message" [ngStyle]="{ 'color': message.invalid && message.touched ? '#ff4b4b' : '' }"
        minlength="15" required></textarea>
    </div>


    <!-- CHECKBOX AREA (PRIVACY) -->
    <div class="checkbox-area" [class.checkbox-checked]="contactForm.form.valid">
      <div class="privacy-content">
        <div class="checkbox-container">
          <input type="checkbox" id="privacy" name="privacy" required #privacy="ngModel" [(ngModel)]="acceptTerms" />
          <label class="font-karla" for="privacy">
            {{ translations[selectedLanguage].PRIVACY_POLICY_1 }}
            <span class="color">{{ translations[selectedLanguage].PRIVACY_POLICY_COLOR }}</span>
            {{ translations[selectedLanguage].PRIVACY_POLICY_2 }}
          </label>
        </div>

        <!-- Privacy Error -->
        <div class="error-message" *ngIf="privacy.invalid && privacy.touched">
          <small class="error-text">
            {{ translations[selectedLanguage].PRIVACY_ERROR }}
          </small>
        </div>
      </div>

      <!-- SUBMIT BUTTON -->
      <div class="btn-area">
        <button type="submit" class="btn-primary" [class.btn-disabled]="!acceptTerms" [disabled]="!acceptTerms">
          <span>{{ translations[selectedLanguage].SUBMIT_BUTTON }}</span>
        </button>
      </div>
    </div>
  </form>
</section>