<section is="skills" class="skills-section">
    <div class="self-summary-section">
        <div class="technologies">
            <!-- Use TECHNOLOGIES key -->
            <span>{{ translations[selectedLanguage].TECHNOLOGIES }}</span>
        </div>

        <div class="skill-set-description">
            <!-- HEADLINE key -->
            <span class="headline-skill-set">
                {{ translations[selectedLanguage].HEADLINE }}
            </span>

            <!-- JOURNEY key -->
            <span>
                {{ translations[selectedLanguage].JOURNEY }}
            </span>

            <div>
                <!-- SUBLINE key -->
                <h2>
                    {{ translations[selectedLanguage].SUBLINE }}
                </h2>

                <!-- SUBLINE_TEXT key -->
                <span>
                    {{ translations[selectedLanguage].SUBLINE_TEXT }}
                </span>
            </div>

            <!-- BTN key (button text) -->
            <div class="buttons">
                <a href="#contact" class="btn-secondary">
                    <span>{{ translations[selectedLanguage].BTN }}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="coding-icons">
        <div class="icons">
            <div class="icon">
                <img src="../../assets/img/icons/html.svg" alt="HTML" />
                HTML
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/css.svg" alt="CSS" />
                CSS
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/js.svg" alt="JavaScript" />
                JavaScript
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/materila_design.svg" alt="Material Design" />
                Material Design
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/ts.svg" alt="TypeScript" />
                TypeScript
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/angular.svg" alt="Angular" />
                Angular
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/firebase.svg" alt="Firebase" />
                Firebase
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/git.svg" alt="GIT" />
                GIT
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/api.svg" alt="Rest-API" />
                Rest-API
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/scrum.svg" alt="Scrum" />
                Scrum
            </div>
            <div class="icon growth-mindset">
                <img src="../../assets/img/icons/growth.svg" alt="Growth mindset" />
                <span>Growth mindset</span>
                <div class="popup">
                    <p>I have a special interest in learning</p>
                    <div class="popup-hover-icons">
                        <span class="pop-up-icon-container">
                            <img src="../../assets/img/icons/react.svg" alt="React" />
                            React
                        </span>
                        <span class="pop-up-icon-container">
                            <img src="../../assets/img/icons/vueJs.svg" alt="VueJs" />
                            VueJs
                        </span>
                    </div>
                </div>
            </div>
            <div class="icon">
                <img src="../../assets/img/icons/growth.svg" alt="" style="display: none;" />
            </div>
        </div>
    </div>
</section>