.button-legal-notice {
    height: calc(100vh - 98px - 314px);
    background: url('../../../assets/img/backgrounds/background_first_section.svg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 2rem;

        button {
            position: relative;
            overflow: hidden;
            padding: 0.75rem 1.5rem;
            font-family: 'Karla', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1;
            text-align: center;
            height: 48px;
            border-radius: 100px;
            background: transparent;
            border: 1px solid white;
            color: white;
            cursor: pointer;
            transition: border-color 0.3s, color 0.3s;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
                transition: transform 0.3s;
            }

            &:hover {
                border-color: rgba(61, 207, 182, 1);
                color: rgba(61, 207, 182, 1);

                span {
                    animation: scrollLoop 3s linear infinite;
                }
            }
        }

        .btn-primary {
            width: 172px;
        }

        .btn-secondary {
            width: 143px;
        }
    }

    .back-arrow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 48px;
        margin-top: 2rem;
        border: 1px solid rgba(61, 207, 182, 1);
        border-radius: 32px;
        transform: rotate(90deg);
        cursor: pointer;
        box-sizing: border-box;

        .back-arrow {
            width: 2px;
            height: 12px;
            background: white;
            position: relative;
            animation: arrowBounce 1s ease-in-out infinite;

            &::after {
                content: "";
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translateX(-50%) rotate(225deg);
                width: 6px;
                height: 6px;
                border-top: 2px solid white;
                border-left: 2px solid white;
            }
        }
    }

    @keyframes scrollLoop {

        0%,
        100% {
            transform: translate(-50%, -50%) translateX(0);
            visibility: visible;
        }

        49% {
            transform: translate(-50%, -50%) translateX(-130%);
            visibility: hidden;
        }

        50% {
            transform: translate(-50%, -50%) translateX(130%);
            visibility: hidden;
        }

        51% {
            visibility: visible;
        }
    }

    @keyframes arrowBounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-5px);
        }
    }

    @media (max-width: 430px) {
        .buttons {
            gap: 20px !important;
        }

        .btn-primary {
            width: 150px !important;
        }

        .btn-secondary {
            width: 130px !important;
        }
    }
}