<div class="button-legal-notice">
  <div class="buttons">
    <button class="btn-primary" [routerLink]="['/legal-notice/data-protection']">
      <span>{{ translations[selectedLanguage].LEGAL_BTN1 }}</span>
    </button>

    <button class="btn-secondary" [routerLink]="['/legal-notice/imprint']" [queryParams]="{ lang: selectedLanguage }">
      <span>{{ translations[selectedLanguage].LEGAL_BTN2 }}</span>
    </button>
  </div>
  <div class="back-arrow-container" (click)="goBackToPortfolio()">
    <div class="back-arrow"></div>
  </div>
</div>