<div class="imprint">

  <div class="imprint-content">
    <div class="back-arrow-container" (click)="goBackToLegalNotice()">
      <div class="back-arrow"></div>
    </div>
    <h1 [innerHTML]="translations[selectedLanguage].heading1"></h1>
    <h2 [innerHTML]="translations[selectedLanguage].heading2"></h2>
    <div [innerHTML]="translations[selectedLanguage].block2"></div>
    <h2 [innerHTML]="translations[selectedLanguage].heading3"></h2>
    <div [innerHTML]="translations[selectedLanguage].block3"></div>
    <h2 [innerHTML]="translations[selectedLanguage].heading4"></h2>
    <div [innerHTML]="translations[selectedLanguage].block4"></div>
    <div [innerHTML]="translations[selectedLanguage].block5"></div>
  </div>
</div>

<div class="cursor-overlay" [ngStyle]="{'top.px': cursorY, 'left.px': cursorX}"></div>